@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  box-sizing: border-box;
}

#main > .content[rel=board] {
  width: 100%;
  height: 71vh;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 0.5rem;
}
#main > .content[rel=board] > .article-table {
  margin-bottom: 0.5rem;
  border-spacing: 0;
}
#main > .content[rel=board] > .article-table > thead > tr > th {
  background-color: rgb(213.5324675325, 205.5064935065, 193.4675324675);
  color: #ffffff;
  font: inherit;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
#main > .content[rel=board] > .article-table > thead > tr > th:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > thead > tr > th:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > thead > tr > th.spring {
  width: 100%;
}
#main > .content[rel=board] > .article-table > tbody {
  top: 0.5rem;
  position: relative;
}
#main > .content[rel=board] > .article-table > tbody > .null {
  text-align: center;
  font-size: 1rem;
}
#main > .content[rel=board] > .article-table > tbody > tr:first-of-type > td:first-of-type {
  border-top-left-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > tbody > tr:first-of-type > td:last-of-type {
  border-top-right-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > tbody > tr:last-of-type > td {
  background-color: #ffffff;
  text-align: center;
}
#main > .content[rel=board] > .article-table > tbody > tr:last-of-type > td a {
  margin: 0 0.3rem;
  display: inline-block;
}
#main > .content[rel=board] > .article-table > tbody > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > tbody > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 0.25rem;
}
#main > .content[rel=board] > .article-table > tbody > tr:not(:last-of-type) > td {
  border-bottom: 0.0625rem solid #4c4c4c;
}
#main > .content[rel=board] > .article-table > tbody > tr.empty > td {
  padding: 2rem;
  text-align: center;
}
#main > .content[rel=board] > .article-table > tbody > tr > td {
  background-color: #f5f5ec;
  padding: 0.425rem 0.75rem;
  white-space: nowrap;
}
#main > .content[rel=board] > .article-table > tbody > tr > td:nth-of-type(2) > a {
  color: inherit;
  text-decoration: none;
  white-space: break-spaces;
}
#main > .content[rel=board] > .article-table > tbody > tr > td:nth-of-type(2) > a:hover {
  text-decoration: underline;
}

#board-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
#board-form > .label > .filter {
  border: 0.0625rem solid #c1b5a3;
  border-radius: 0.25rem;
}
#board-form > .label > .filter:focus {
  border: 0.08rem solid rgb(172.4675324675, 156.4935064935, 132.5324675325);
  outline: none;
}
#board-form > .label > .keyword {
  border: 0.0625rem solid #c1b5a3;
  border-radius: 0.25rem;
}
#board-form > .label > .keyword:focus {
  border: 0.08rem solid rgb(172.4675324675, 156.4935064935, 132.5324675325);
  outline: none;
}

/*# sourceMappingURL=adminBoard.css.map */
