<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbs.www.mappers.BoardPostsMapper">
    <select id="selectBoardPosts" resultType="com.kbs.www.entities.BoardPostsEntity" parameterType="com.kbs.www.entities.BoardPostsEntity">
        SELECT `index`         AS `index`,
               `title`         AS `title`,
               `content`       AS `content`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickName`,
               `create_at`     AS `createdAt`,
               `update_at`     AS `updatedAt`,
               `deleted_at`    AS `deletedAt`,
               `view`          AS `view`
        FROM `fave`.`board_posts`
        WHERE `deleted_at` IS NULL
        ORDER BY `index` DESC
    </select>

    <select id="selectBoardPostCount" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `fave`.`board_posts`
    </select>
    <select id="selectBoardPost" resultType="com.kbs.www.entities.BoardPostsEntity" parameterType="com.kbs.www.entities.BoardPostsEntity">
        SELECT `index`         AS `index`,
               `title`         AS `title`,
               `content`       AS `content`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickName`,
               `create_at`     AS `createdAt`,
               `update_at`     AS `updatedAt`,
               `deleted_at`    AS `deletedAt`,
               `view`          AS `view`
        FROM `fave`.`board_posts`
        WHERE `deleted_at` IS NULL
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
    <select id="selectBoardPostCountBySearch" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM `fave`.`board_posts`
        <if test="filter.equals('all')">
            WHERE `title` LIKE CONCAT('%', #{keyword}, '%') OR `content` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('title')">
            WHERE `title` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('content')">
            WHERE `content` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('nickname')">
            WHERE `user_nickname` LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>
    <select id="selectBoardPostBySearch" resultType="com.kbs.www.entities.BoardPostsEntity" parameterType="com.kbs.www.entities.BoardPostsEntity">
        SELECT `index`         AS `index`,
        `title`         AS `title`,
        `content`       AS `content`,
        `user_email`    AS `userEmail`,
        `user_nickname` AS `userNickName`,
        `create_at`     AS `createdAt`,
        `update_at`     AS `updatedAt`,
        `deleted_at`    AS `deletedAt`,
        `view`          AS `view`
        FROM `fave`.`board_posts`
        WHERE `deleted_at` IS NULL
        <if test="filter.equals('all')">
            AND `title` LIKE CONCAT('%', #{keyword}, '%') OR `content` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('title')">
            AND `title` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('content')">
            AND `content` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="filter.equals('nickname')">
            AND `user_nickname` LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
    <select id="selectBoardPostsByIndex" resultType="com.kbs.www.entities.BoardPostsEntity">
        SELECT `index`         AS `index`,
               `title`         AS `title`,
               `content`       AS `content`,
               `user_email`    AS `userEmail`,
               `user_nickname` AS `userNickName`,
               `create_at`     AS `createdAt`,
               `update_at`     AS `updatedAt`,
               `deleted_at`    AS `deletedAt`,
               `view`          AS `view`
        FROM `fave`.`board_posts`
        WHERE `index` = #{index}
    </select>
    <update id="updateBoardPost" parameterType="com.kbs.www.entities.BoardPostsEntity">
        UPDATE `fave`.`board_posts`
        SET `deleted_at` = #{deletedAt}
        WHERE `index` = #{index}
    </update>
</mapper>