@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

//table {
//  width: 100%;
//  margin: 0 auto;
//  table-layout: auto;
//  border-collapse: separate;
//  font-size: 0.825rem;
//  text-align: center;
//
//  > .thead {
//    background-color: #f5f5ec;
//
//    > .board-title {
//      > th {
//        padding: 0.725rem;
//      }
//    }
//  }
//
//  > .tbody {
//
//    > .board-list {
//      > td {
//        border-bottom: 1px solid #a6a6a6;
//        padding: 0.325rem;
//      }
//    }
//  }
//}

#main {

  > .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0 1rem;
    justify-items: center;

    > .grid {
      width: 100%;
      height: 20rem;
      font-size: 0.8rem;
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

     > a {

       > .img {
         width: 20rem;
         height: 20rem;
       }
     }
    }
  }

  > .page-container {
    display: flex;
    justify-content: center;
    padding: 0.825rem;
    font-size: 1rem;
    gap: 0.5rem;

    > .page {
      padding: 0.2rem;
      background-color: #c1b5a3;
      color: #ffffff;
      text-decoration: none;
      border-radius: 0.3rem;
      box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}